.search {
  display: flex;
  justify-content: center;

  &__input {
    display: block;
    height: 25px;
    padding: 0 8px;
    margin: 20px 0 0 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #fff;
    background: transparent;

    &:focus, &:active, &:hover {
      width: 70%;
    }
  }

}
