.thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding: 0 5px;
  width: 210px;
  border-bottom: 1px solid #444;

  &:hover {
    box-shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0,0,0, 0.24);
  }

  &__image {
    max-width: 100%;
    height: 100%;
    padding: 5px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 1em;
      padding: 5px;
    }

    &__subtitle {
      display: flex;
      padding: 5px;
      color: #444;

      &__channel {
        font-size: 0.875em;
      }

      &__date {
        font-size: 0.75em;

        &:before {
          content: '*';
        }
      }
    }
  }
}


@media (max-width: 580px) {
  .thumbnail {
    width: 100%;
    margin: 15px 0;

    &__content {
      flex: 1;
    }
  }
}
